### Movie

In [1]:
import pandas as pd
import numpy as np
import uuid
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('movies1.csv')
df = df.drop_duplicates()
movie = df
movie['id'] = [i for i in range(len(df))]
movie['title'] = movie['Title']
movie['rating'] = np.random.uniform(3, 10, size=(len(df)))
movie['rating'] = round(movie['rating'],1)

movie['watch_numbers'] = np.random.randint(1000, 10000000, size=(len(df)))

movie['runtime'] = np.random.randint(80, 180, size=(len(df)))
movie['cast'] = df['Director'] + ', ' + df['Cast']
movie['cast'] = df['Cast'].str.split(', ')

# Convert Genres to an array
movie['genres'] = df['Genres'].str.split(', ')

# Drop the Director column
movie.drop(columns=['Director'], inplace=True)


movie = movie[['id', 'title', 'rating','cast','genres', 'watch_numbers', 'runtime']]

#print(df)
#print(df)
movie['format'] = "movie"
movie['type_id'] = 1
movie

,id,title,rating,cast,genres,watch_numbers,runtime,format,type_id
0,0,Mission: Impossible - Dead Reckoning Part One,5.2,"[Tom Cruise, Hayley Atwell, Ving Rhames, Simon...","[Action, Thriller]",5352919,152,movie,1
1,1,The Equalizer 3,7.9,"[Denzel Washington, Dakota Fanning, Eugenio Ma...","[Action, Thriller, Crime, Drama]",5987335,131,movie,1
2,2,The Nun II,8.3,"[Taissa Farmiga, Jonas Bloquet, Storm Reid, An...","[Horror, Mystery, Thriller]",9030905,83,movie,1
3,3,Talk to Me,7.7,"[Sophie Wilde, Alexandra Jensen, Joe Bird, Oti...","[Horror, Thriller]",1214721,130,movie,1
4,4,Nowhere,7.5,"[Anna Castillo, Tamar Novas, Irina Bravo, Vict...","[Thriller, Drama]",7309191,139,movie,1
...,...,...,...,...,...,...,...,...,...
7505,7490,The Night Eats the World,7.3,"[Anders Danielsen Lie, Golshifteh Farahani, De...","[Drama, Horror, Thriller]",8776247,117,movie,1
7506,7491,The Love Witch,3.5,"[Samantha Robinson, Gian Keys, Laura Waddell, ...","[Comedy, Horror, Romance]",884635,137,movie,1
7507,7492,"Curious George: Go West, Go Wild",7.1,"[Frank Welker, Jeff Bennett]","[Animation, Family, TV Movie]",9668601,97,movie,1
7508,7493,The Monster Squad,9.1,"[André Gower, Robby Kiger, Stephen Macht, Dunc...","[Comedy, Action, Fantasy]",1321727,179,movie,1
7509,7494,Colonia,4.1,"[Emma Watson, Daniel Brühl, Michael Nyqvist, R...","[Drama, History]",2646124,109,movie,1

In [2]:
movie.to_json('movie.json', orient='records', lines=True)

### TV

In [3]:
import pandas as pd
import os

# Set the file directory or path where the CSV files are located
directory = 'TV series/'

# List to hold all the individual DataFrames
all_dfs = []
filelist = os.listdir(directory)
# Iterate over all the CSV files in the specified directory
for filename in filelist:
    if filename.endswith(".csv"):
        filepath = directory + filename
        print(filepath)
        df = pd.read_csv(filepath)
        all_dfs.append(df)

# Concatenate all the individual DataFrames into one DataFrame
combined_df = pd.concat(all_dfs, ignore_index=True)

# Write the combined DataFrame to a new CSV file
combined_df.to_csv('tv_series.csv', index=False)

print("CSV files have been combined into combined.csv")

TV series/fantasy_series.csv
TV series/horror_series.csv
TV series/music_series.csv
TV series/action_series.csv
TV series/family_series.csv
TV series/documentary_series.csv
TV series/comedy_series.csv
TV series/biography_series.csv
TV series/mystery_series.csv
TV series/adventure_series.csv
TV series/thriller_series.csv
TV series/drama_series.csv
TV series/history_series.csv
TV series/sport_series.csv
TV series/sci-fi_series.csv
TV series/crime_series.csv
TV series/romance_series.csv
TV series/superhero_series.csv
TV series/war_series.csv
TV series/musical_series.csv
TV series/western_series.csv
CSV files have been combined into combined.csv

In [4]:
pd.read_csv("tv_series.csv")

,Title,IMDb ID,Release Year,Genre,Cast,Synopsis,Rating,Runtime,Certificate,Number of Votes,Gross Revenue
0,The Little Mermaid,tt5971474,I) (2023,"Adventure, Family, Fantasy","Director:, Rob Marshall, | , Stars:, Halle...",A young mermaid makes a deal with a sea witch ...,7.2,135 min,PG,69638,NaN
1,Spider-Man: Across the Spider-Verse,tt9362722,2023,"Animation, Action, Adventure","Directors:, Joaquim Dos Santos, , Kemp Powers,...","Miles Morales catapults across the Multiverse,...",9.1,140 min,PG,71960,NaN
2,Dungeons & Dragons: Honor Among Thieves,tt2906216,2023,"Action, Adventure, Comedy","Directors:, John Francis Daley, , Jonathan Gol...",A charming thief and a band of unlikely advent...,7.3,134 min,PG-13,123247,NaN
3,The Super Mario Bros. Movie,tt6718170,2023,"Animation, Adventure, Comedy","Directors:, Aaron Horvath, , Michael Jelenic, ...",A plumber named Mario travels through an under...,7.2,92 min,PG,134835,NaN
4,Spider-Man: Into the Spider-Verse,tt4633694,2018,"Animation, Action, Adventure","Directors:, Bob Persichetti, , Peter Ramsey, ,...",Teen Miles Morales becomes the Spider-Man of h...,8.4,117 min,PG,575321,"190,241,310"
...,...,...,...,...,...,...,...,...,...,...,...
225282,How to Blow Up a Pipeline,tt21440780,2022,"Crime, Drama, Thriller","Director:, Daniel Goldhaber, | , Stars:, A...",A crew of environmental activists plot a darin...,7.1,104 min,R,3306,NaN
225283,Hell on Wheels,tt1699748,2011–2016,"Drama, Western","Stars:, Anson Mount, , Colm Meaney, , Robin Mc...","The Civil War is past, but former Confederate ...",8.3,42 min,TV-14,53698,NaN
225284,The Magnificent Seven,tt0054047,1960,"Action, Adventure, Drama","Director:, John Sturges, | , Stars:, Yul B...",Seven gunfighters are hired by Mexican peasant...,7.7,128 min,Approved,98360,"4,905,000"
225285,Wagon Train,tt0050073,1957–1965,Western,"Stars:, Frank McGrath, , Terry Wilson, , Rober...",Stories of the journeys of a wagon train as it...,7.5,75 min,TV-PG,3465,NaN
225286,Desperado,tt0112851,1995,"Action, Crime, Thriller","Director:, Robert Rodriguez, | , Stars:, A...",Former musician and gunslinger El Mariachi arr...,7.1,104 min,R,191291,"25,625,110"

In [5]:
def process_cast(cast):
    if pd.notna(cast) and'|' in cast:  # Check if the delimiter is present
        parts = cast.split('|')
        pre = parts[0].replace('Director:', '').replace('Directors:', '').replace('Stars:', '').replace('Star:', '').split(',')
        aft = parts[1].replace('Stars:', '').replace('Star:', '').split(',') if len(parts) > 1 else []  # Check if stars information is present
        pre = [e.strip() for e in pre] 
        aft = [e.strip() for e in aft] # Clean up whitespace
        cast_list = pre + aft  # Combine director and stars into one list
        for c in cast_list:
            if c.isspace() or not c:
                cast_list.remove(c)
        return cast_list
    elif pd.notna(cast):
        cast = cast.replace('Stars:', '').replace('Star:', '').replace('Director:', '').replace('Directors:', '').split(',')
        for c in cast:
            if c.isspace() or not c:
                cast.remove(c)
        return [e.strip() for e in cast]
    else:
        return []

In [6]:
import re

def extract_runtime(runtime):
    if pd.notna(runtime):  # Check if runtime is not NaN
        match = re.search(r'\d+', str(runtime))  # Convert runtime to string before applying regex
        if match:
            return int(match.group())
    return np.random.randint(80, 180)

In [7]:
df = pd.read_csv('tv_series.csv')
df = df.drop_duplicates()
tv = df
# 生成ID
tv['id'] = [i for i in range(7495, 7495 + len(df))]
tv['title'] = df['Title']
tv['rating'] = df['Rating']


tv['watch_numbers'] = np.random.randint(1000, 10000000, size=(len(df)))

tv['runtime'] = df['Runtime'].apply(extract_runtime)
#movie['cast'] = df['Director'] + ', ' + df['Cast']
tv['cast'] = df['Cast'].apply(process_cast)

# Convert Genres to an array
tv['genres'] = df['Genre'].str.split(', ')

# Drop the Director column
#movie.drop(columns=['Director'], inplace=True)

tv = tv[['id', 'title', 'rating','cast','genres', 'watch_numbers', 'runtime']]

tv['format'] = "TV Series"
tv['type_id'] = 1
tv

,id,title,rating,cast,genres,watch_numbers,runtime,format,type_id
0,7495,The Little Mermaid,7.2,"[Rob Marshall, Halle Bailey, Jonah Hauer-King,...","[Adventure, Family, Fantasy]",1125026,135,TV Series,1
1,7496,Spider-Man: Across the Spider-Verse,9.1,"[Joaquim Dos Santos, Kemp Powers, Justin K. Th...","[Animation, Action, Adventure]",6646164,140,TV Series,1
2,7497,Dungeons & Dragons: Honor Among Thieves,7.3,"[John Francis Daley, Jonathan Goldstein, Chris...","[Action, Adventure, Comedy]",6709645,134,TV Series,1
3,7498,The Super Mario Bros. Movie,7.2,"[Aaron Horvath, Michael Jelenic, Pierre Leduc,...","[Animation, Adventure, Comedy]",9974407,92,TV Series,1
4,7499,Spider-Man: Into the Spider-Verse,8.4,"[Bob Persichetti, Peter Ramsey, Rodney Rothman...","[Animation, Action, Adventure]",2007053,117,TV Series,1
...,...,...,...,...,...,...,...,...,...
223032,118737,The Unknown Ranger,4.7,"[Spencer Gordon Bennet, Robert Allen, Martha T...",[Western],7456322,57,TV Series,1
223033,118738,Pioneer Trails,5.4,"[David Smith, Cullen Landis, Alice Calhoun, Be...","[Drama, Western]",4293309,70,TV Series,1
223034,118739,Riderà! (Cuore matto),4.8,"[Bruno Corbucci, Little Tony, Marisa Solinas, ...","[Comedy, Music, Romance]",3595606,163,TV Series,1
223035,118740,Earth Without War,6.9,"[J. Carlos Portela, Swaylee Loughnane, Lee Wes...","[Sci-Fi, Western]",1685459,96,TV Series,1
223036,118741,TSTG Teaser,9.2,"[Nathaniel Arcand, David 'Shark' Fralick, Marn...",[Western],407753,171,TV Series,1

In [8]:
tv.to_json('tv.json', orient='records', lines=True)

In [9]:
mv = pd.concat([movie, tv], ignore_index=True)
mv

,id,title,rating,cast,genres,watch_numbers,runtime,format,type_id
0,0,Mission: Impossible - Dead Reckoning Part One,5.2,"[Tom Cruise, Hayley Atwell, Ving Rhames, Simon...","[Action, Thriller]",5352919,152,movie,1
1,1,The Equalizer 3,7.9,"[Denzel Washington, Dakota Fanning, Eugenio Ma...","[Action, Thriller, Crime, Drama]",5987335,131,movie,1
2,2,The Nun II,8.3,"[Taissa Farmiga, Jonas Bloquet, Storm Reid, An...","[Horror, Mystery, Thriller]",9030905,83,movie,1
3,3,Talk to Me,7.7,"[Sophie Wilde, Alexandra Jensen, Joe Bird, Oti...","[Horror, Thriller]",1214721,130,movie,1
4,4,Nowhere,7.5,"[Anna Castillo, Tamar Novas, Irina Bravo, Vict...","[Thriller, Drama]",7309191,139,movie,1
...,...,...,...,...,...,...,...,...,...
118737,118737,The Unknown Ranger,4.7,"[Spencer Gordon Bennet, Robert Allen, Martha T...",[Western],7456322,57,TV Series,1
118738,118738,Pioneer Trails,5.4,"[David Smith, Cullen Landis, Alice Calhoun, Be...","[Drama, Western]",4293309,70,TV Series,1
118739,118739,Riderà! (Cuore matto),4.8,"[Bruno Corbucci, Little Tony, Marisa Solinas, ...","[Comedy, Music, Romance]",3595606,163,TV Series,1
118740,118740,Earth Without War,6.9,"[J. Carlos Portela, Swaylee Loughnane, Lee Wes...","[Sci-Fi, Western]",1685459,96,TV Series,1
118741,118741,TSTG Teaser,9.2,"[Nathaniel Arcand, David 'Shark' Fralick, Marn...",[Western],407753,171,TV Series,1

### anime

In [10]:
df = pd.read_csv("anime.csv")
df = df.drop_duplicates()
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [11]:
anime = df
# 生成ID
anime['id'] = [i for i in range(118742, 118742 + len(df))]
anime['title'] = df['name']
anime['rating'] = round(df['rating'],1)

# 假设watch_numbers需要估算，这里我们随机生成一个观看次数
anime['watch_numbers'] = np.random.randint(1000, 10000000, size=(len(df)))
anime['cast'] = [[] for _ in range(len(df))]

anime['runtime'] = np.random.randint(10, 120, size=(len(df)))

# Convert Genres to an array
anime['genres'] = df['genre'].str.split(', ')


# 选择需要的列
anime = anime[['id', 'title', 'rating','cast','genres', 'watch_numbers', 'runtime']]

anime['format'] = "anime"
anime['type_id'] = 1

anime

,id,title,rating,cast,genres,watch_numbers,runtime,format,type_id
0,118742,Kimi no Na wa.,9.4,[],"[Drama, Romance, School, Supernatural]",5340628,62,anime,1
1,118743,Fullmetal Alchemist: Brotherhood,9.3,[],"[Action, Adventure, Drama, Fantasy, Magic, Mil...",793220,89,anime,1
2,118744,Gintama°,9.2,[],"[Action, Comedy, Historical, Parody, Samurai, ...",538036,48,anime,1
3,118745,Steins;Gate,9.2,[],"[Sci-Fi, Thriller]",6673527,19,anime,1
4,118746,Gintama&#039;,9.2,[],"[Action, Comedy, Historical, Parody, Samurai, ...",6725391,15,anime,1
...,...,...,...,...,...,...,...,...,...
12289,131031,Toushindai My Lover: Minami tai Mecha-Minami,4.2,[],[Hentai],788350,119,anime,1
12290,131032,Under World,4.3,[],[Hentai],7298511,15,anime,1
12291,131033,Violence Gekiga David no Hoshi,4.9,[],[Hentai],7401053,97,anime,1
12292,131034,Violence Gekiga Shin David no Hoshi: Inma Dens...,5.0,[],[Hentai],2175773,92,anime,1
12293,131035,Yasuji no Pornorama: Yacchimae!!,5.5,[],[Hentai],611617,100,anime,1

In [12]:
image = pd.concat([mv, anime], ignore_index=True)
image

,id,title,rating,cast,genres,watch_numbers,runtime,format,type_id
0,0,Mission: Impossible - Dead Reckoning Part One,5.2,"[Tom Cruise, Hayley Atwell, Ving Rhames, Simon...","[Action, Thriller]",5352919,152,movie,1
1,1,The Equalizer 3,7.9,"[Denzel Washington, Dakota Fanning, Eugenio Ma...","[Action, Thriller, Crime, Drama]",5987335,131,movie,1
2,2,The Nun II,8.3,"[Taissa Farmiga, Jonas Bloquet, Storm Reid, An...","[Horror, Mystery, Thriller]",9030905,83,movie,1
3,3,Talk to Me,7.7,"[Sophie Wilde, Alexandra Jensen, Joe Bird, Oti...","[Horror, Thriller]",1214721,130,movie,1
4,4,Nowhere,7.5,"[Anna Castillo, Tamar Novas, Irina Bravo, Vict...","[Thriller, Drama]",7309191,139,movie,1
...,...,...,...,...,...,...,...,...,...
131031,131031,Toushindai My Lover: Minami tai Mecha-Minami,4.2,[],[Hentai],788350,119,anime,1
131032,131032,Under World,4.3,[],[Hentai],7298511,15,anime,1
131033,131033,Violence Gekiga David no Hoshi,4.9,[],[Hentai],7401053,97,anime,1
131034,131034,Violence Gekiga Shin David no Hoshi: Inma Dens...,5.0,[],[Hentai],2175773,92,anime,1
131035,131035,Yasuji no Pornorama: Yacchimae!!,5.5,[],[Hentai],611617,100,anime,1

In [13]:
image.to_json('image.json', orient='records', lines=True)

### Game

In [24]:
import pandas as pd
import numpy as np

# Load the JSON file into a DataFrame
df = pd.read_json('game_info.json')
df

,game_id,name,year,genre,director,plot
0,0,The Last of Us: Part I,2022,"[Action, Adventure, Drama]","Matthew Gallant, Bruce Straley",Experience the emotional storytelling and unfo...
1,1,Red Dead Redemption II,2018,"[Action, Adventure, Crime]",Missing,Amidst the decline of the Wild West at the tur...
2,2,The Witcher 3: Wild Hunt - Blood and Wine,2016,"[Action, Adventure, Drama]",Konrad Tomaszkiewicz,Geralt is in the southern province of Toussain...
3,3,The Witcher 3: Wild Hunt,2015,"[Action, Adventure, Drama]",Konrad Tomaszkiewicz,A monster hunter for hire embarks on an epic j...
4,4,The Last of Us,2013,"[Action, Adventure, Drama]","Neil Druckmann, Bruce Straley","In a hostile, post-pandemic world, Joel and El..."
...,...,...,...,...,...,...
12630,12630,Superman,1999,"[Action, Adventure, Family]",Missing,The first 3D Superman game. Your friends Lois ...
12631,12631,Action 52,1991,"[Action, Family, Fantasy]","Raul Gomila, Vince Perri",Play the action at your fingertips with 52 gam...
12632,12632,Plumbers Don't Wear Ties,1994,"[Comedy, Romance]",Michael Anderson,"John, an unattached plumber, meets and falls i..."
12633,12633,Animal Soccer World,2005,"[Animation, Sport]",Roswitha Haas,Everybody is busy with the preparations for th...
12634,12634,CrazyBus,2004,"[Adventure, Family]",Tom Maneiro,You get to select your bus and drive it across...

In [25]:
game = df
game['rating'] = np.random.uniform(3, 10, size=(len(df)))
game['rating'] = round(game['rating'],1)
game = game.rename(columns={'genre': 'genres'})
game['director'] = df['director'].apply(lambda x: [] if x == "Missing" else [director.strip() for director in x.split(',')])
game['type_id'] = 2
game

,game_id,name,year,genres,director,plot,rating,type_id
0,0,The Last of Us: Part I,2022,"[Action, Adventure, Drama]","[Matthew Gallant, Bruce Straley]",Experience the emotional storytelling and unfo...,9.9,2
1,1,Red Dead Redemption II,2018,"[Action, Adventure, Crime]",[],Amidst the decline of the Wild West at the tur...,5.8,2
2,2,The Witcher 3: Wild Hunt - Blood and Wine,2016,"[Action, Adventure, Drama]",[Konrad Tomaszkiewicz],Geralt is in the southern province of Toussain...,4.8,2
3,3,The Witcher 3: Wild Hunt,2015,"[Action, Adventure, Drama]",[Konrad Tomaszkiewicz],A monster hunter for hire embarks on an epic j...,6.7,2
4,4,The Last of Us,2013,"[Action, Adventure, Drama]","[Neil Druckmann, Bruce Straley]","In a hostile, post-pandemic world, Joel and El...",7.3,2
...,...,...,...,...,...,...,...,...
12630,12630,Superman,1999,"[Action, Adventure, Family]",[],The first 3D Superman game. Your friends Lois ...,6.7,2
12631,12631,Action 52,1991,"[Action, Family, Fantasy]","[Raul Gomila, Vince Perri]",Play the action at your fingertips with 52 gam...,3.6,2
12632,12632,Plumbers Don't Wear Ties,1994,"[Comedy, Romance]",[Michael Anderson],"John, an unattached plumber, meets and falls i...",9.5,2
12633,12633,Animal Soccer World,2005,"[Animation, Sport]",[Roswitha Haas],Everybody is busy with the preparations for th...,3.0,2
12634,12634,CrazyBus,2004,"[Adventure, Family]",[Tom Maneiro],You get to select your bus and drive it across...,3.8,2

In [26]:
game.to_json('game.json', orient='records', lines=True)

In [21]:
df.drop(columns='id')

,title,year,genre,rating,votes,directors,plot
0,The Last of Us: Part I,2022,"Action, Adventure, Drama",9.8,601,"Matthew Gallant, Bruce Straley",Experience the emotional storytelling and unfo...
1,Red Dead Redemption II,2018,"Action, Adventure, Crime",9.7,"36,441",Missing,Amidst the decline of the Wild West at the tur...
2,The Witcher 3: Wild Hunt - Blood and Wine,2016,"Action, Adventure, Drama",9.7,"7,610",Konrad Tomaszkiewicz,Geralt is in the southern province of Toussain...
3,The Witcher 3: Wild Hunt,2015,"Action, Adventure, Drama",9.7,"26,328",Konrad Tomaszkiewicz,A monster hunter for hire embarks on an epic j...
4,The Last of Us,2013,"Action, Adventure, Drama",9.7,"61,103","Neil Druckmann, Bruce Straley","In a hostile, post-pandemic world, Joel and El..."
...,...,...,...,...,...,...,...
12630,Superman,1999,"Action, Adventure, Family",1.4,646,Missing,The first 3D Superman game. Your friends Lois ...
12631,Action 52,1991,"Action, Family, Fantasy",1.3,135,"Raul Gomila, Vince Perri",Play the action at your fingertips with 52 gam...
12632,Plumbers Don't Wear Ties,1994,"Comedy, Romance",1.3,338,Michael Anderson,"John, an unattached plumber, meets and falls i..."
12633,Animal Soccer World,2005,"Animation, Sport",1.2,125,Roswitha Haas,Everybody is busy with the preparations for th...
12634,CrazyBus,2004,"Adventure, Family",1.0,126,Tom Maneiro,You get to select your bus and drive it across...